version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: monthly
    time: "11:00"
  open-pull-requests-limit: 10
  reviewers:
  - zaherg
  assignees:
  - zaherg
  versioning-strategy: lockfile-only
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
    time: "11:00"
  open-pull-requests-limit: 10
  reviewers:
  - zaherg
  assignees:
  - zaherg
